/* Stile für die Neuseelandreise */ 

body {
    background-color: silver;
}

h1 {
    color: rgb(255, 255, 0);
    font-size: 40px;
    border: 3px black;
    background-color: blue;
    width: 50%
}